<div class="sidebar">
	<div class="logo-details">
	  <i class='bx bxl-c-plus-plus icon'></i>
		<div class="logo_name">CodingLab</div>
		<i class='bx bx-menu' id="btn" ></i>
	</div>
	<ul>
	  <li>
		<a routerLink="/dashboard" routerLinkActive="active">
		  <fa-icon icon="home" class="icon"></fa-icon>
		  <span>Dashboard</span>
		</a>
	  </li>
	  <!-- <li>
		<a routerLink="/newinvoice">
		  <fa-icon icon="file" class="icon"></fa-icon>
		  <span>New Invoice</span>
		</a>
	  </li> -->
	  <li>
		<a routerLink="/gorup">
		  <fa-icon icon="file" class="icon"></fa-icon>
		  <span>Group</span>
		</a>
	  </li>
	  <li>
		<a routerLink="/item">
		  <fa-icon icon="file" class="icon"></fa-icon>
		  <span>ITEM</span>
		</a>
	  </li>
	  <li>
		<a routerLink="/supplier">
		  <fa-icon icon="users" class="icon"></fa-icon>
		  <span>Suppliers</span>
		</a>
	  </li>
	  <li>
		<a routerLink="/customer">
		  <fa-icon icon="user" class="icon"></fa-icon>
		  <span>Customers</span>
		</a>
	  </li>
	  <!-- <li>
		<a routerLink="/store">
		  <fa-icon icon="file" class="icon"></fa-icon>
		  <span>Store</span>
		</a>
	  </li> -->
	  <li>
		<a routerLink="/purchase">
		  <fa-icon icon="file" class="icon"></fa-icon>
		  <span>Purchase</span>
		</a>
	  </li>
	  <li>
		<a routerLink="/sale">
		  <fa-icon icon="file" class="icon"></fa-icon>
		  <span>Sales</span>
		</a>
	  </li>
	  
	  <li></li>
	</ul>
	<!-- <ul class="nav-list">
	  <li>
		  <i class='bx bx-search' ></i>
		 <input type="text" placeholder="Search...">
		 <span class="tooltip">Search</span>
	  </li>
	  <li>
		<a  routerLink="/dashboard" routerLinkActive="active">
		  <i class='bx bx-grid-alt'></i>
		  <span class="links_name">Dashboard</span>
		</a>
		 <span class="tooltip">Dashboard</span>
	  </li>
	  <li>
	   <a routerLink="/newinvoice">
		 <i class='bx bx-user' >New Invoice</i>
		 <span class="links_name">New Invoice</span>
	   </a>
	   <span class="tooltip">New Invoice</span>
	 </li>
	 <li>
	   <a href="#">
		 <i class='bx bx-chat' ></i>
		 <span class="links_name">Messages</span>
	   </a>
	   <span class="tooltip">Messages</span>
	 </li>
	 <li>
	   <a href="#">
		 <i class='bx bx-pie-chart-alt-2' ></i>
		 <span class="links_name">Analytics</span>
	   </a>
	   <span class="tooltip">Analytics</span>
	 </li>
	 <li>
	   <a href="#">
		 <i class='bx bx-folder' ></i>
		 <span class="links_name">File Manager</span>
	   </a>
	   <span class="tooltip">Files</span>
	 </li>
	 <li>
	   <a href="#">
		 <i class='bx bx-cart-alt' ></i>
		 <span class="links_name">Order</span>
	   </a>
	   <span class="tooltip">Order</span>
	 </li>
	 <li>
	   <a href="#">
		 <i class='bx bx-heart' ></i>
		 <span class="links_name">Saved</span>
	   </a>
	   <span class="tooltip">Saved</span>
	 </li>
	 <li>
	   <a href="#">
		 <i class='bx bx-cog' ></i>
		 <span class="links_name">Setting</span>
	   </a>
	   <span class="tooltip">Setting</span>
	 </li>
	 <li class="profile">
		 <div class="profile-details">
		   <div class="name_job">
			 <div class="name">Gabriel Toledo</div>
			 <div class="job">Frontend Developer</div>
		   </div>
		 </div>
		 <i class='bx bx-log-out' id="log_out" ></i>
	 </li>
	</ul> -->
  </div>


<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->