<div class="content">
    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 ">
            <div style="display: flex; justify-content: flex-end;">
                <button (click) = "openCalculator(calculator)" class="btn-category btn  btn-outline-primary">
                 <fa-icon size="2x" icon="calculator"></fa-icon>
                </button>
                <button class="btn-category btn  btn-outline-primary">
                    <fa-icon size="2x" icon="cash-register"></fa-icon>
                </button>
                <button class="btn-category btn  btn-outline-primary">
                    <fa-icon size="2x" icon="clipboard"></fa-icon>
                </button>
                <button class="btn-category btn  btn-outline-primary">
                    <fa-icon size="2x" icon="trash"></fa-icon>
                </button>
            </div>
            <div class="box-content content-table">
                <ul ngbNav #nav="ngbNav" [(activeId)]="activeCategory" class="nav-tabs" class="container-catigry">
                    <li *ngFor="let category of POSCategoryButtons let i = index;" [ngbNavItem]="i+1" >
                        
                        <a ngbNavLink class="btn-category btn  btn-outline-primary">
                            {{category.classifNameA}}
                        </a>
                        <ng-template ngbNavContent >
                            <div class="row  mx-2 container-item">
                                    <div class="item m-2" id="item" *ngFor="let item of getItemByCategoryId(category.classificationID)">
                                        <div class="image_container" id="image-container">
                                            <div class="price-label-container">
                                                <div id="price-label" class="price-label">{{ item.classUnitPrice | number : '1.2-2'}}</div>
                                            </div>
                                            <img class="car-image" *ngIf="item.classImage" [src]="item.classImage" id="car-image"> 
                                        </div>
                                        <div class="item_info_outer">
                                            <div class="item_info" id="item_info">
                                                <div class="name" id="name-brand">{{item.classNameA}} - {{item.unitName}}</div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2"></div> 
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 ">
            <div class="card pt-0" style="width: 100%;height: 59vh;overflow: auto;">
                <div class="row">
                    <div class="col-12 pt-0">
                        <div class="input-group">
                            <input class="form-control py-2 border-right-0 border" type="search" value="search" id="searchInput" name="searchInput">
                            <span class="input-group-append">
                                <div class="input-group-text bg-transparent">
                                    <fa-icon size="1x" icon="search"></fa-icon>

                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div  class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th  scope="col">Item</th>
                                <th  scope="col">Qty</th>
                                <th scope="col">Price</th>
                                <th  scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  scope="row">
                                <td>Item 1</td>
                                <td class="text-center">
                                    <div class="m-btn-group m-btn-group--pill btn-group mr-2 mt-2" role="group" aria-label="...">
                                        <button type="button" class="m-btn btn btn-default btn-Qty"> <fa-icon icon="minus" class="icon"></fa-icon></button>
                                        <input type="number" class="input-Qty" [value]="1854" (click)="openCalculator(entrNumber)">
                                        <button type="button" class="m-btn btn btn-default btn-Qty"><fa-icon icon="plus" class="icon"></fa-icon></button>
                                    </div>
                                </td>
                                <td>15</td>
                                <td><fa-icon style="color: red;" icon="trash" class="icon"></fa-icon></td>
                            </tr>                            
                            <!-- <tr *ngFor="let cart of cartlist let i = index;">
                                <td scope="row">
                                    <div style="display: flow-root;">
                                        <img src="{{cart.Image}}" class="img-thumbnail" alt="" style=" height: 4vh; margin-left: 0.5rem ;">
                                        <input type="text" class="form-control form-control-sm" [(value)]="cart.itemName"
                                            name="itemName" disabled />
                                    </div>
                                    <input type="text" class="form-control form-control-sm" [(value)]="cart.itemNo"
                                        name="itemNo" hidden />
                                </td>
                                <td scope="row">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-default btn-Qty" (click)="changeQntymin(cart)">
                                            <fa-icon icon="minus"></fa-icon>
                                        </button>
                                        <input #qnt type="number" class="form-control input-Qty " id="" min="0" [value]="cart.quantity"
                                            name="quantity" (change)="changeQnty(cart,qnt.value)">
                                        <button type="button" class="btn btn-default btn-Qty"
                                            (click)="changeQntyPlus(cart)">
                                            <fa-icon icon="plus"></fa-icon>
                                        </button>
                                    </div>
                                </td>
                                <td scope="row"> 
                                    <input type="number" class="form-control" id="unitPrice" [(value)]="cart.unitPrice"
                                        name="unitPrice" disabled>
                                    </td>
                                <td scope="row"> 
                                    <input type="number" class="form-control" id="subTotal" [(value)]="cart.subTotal"
                                        name="subTotal" disabled>
                                </td>
                                <td scope="row">
                                    <button type="button" class="btn btn-outline-danger" (click)="removeToCart(cart)">
                                        <fa-icon icon="trash"></fa-icon>
                                    </button>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
    
            </div>
            <div class="card" style="width: 100%; height: 27vh;">
                <table>
                    <tr>
                        <th class="w-25">Total:</th>
                        <td class="pr-2 w-100px">
                            <!-- <h5> <span>$</span> {{Total | number : '1.2-2'}}</h5> -->
                        </td>
                    </tr>
                    <tr>
                        <th class="w-25">Total:</th>
                        <td class="pr-2 w-100px">
                            <!-- <h5> <span>$</span> {{Total | number : '1.2-2'}}</h5> -->
                        </td>
                    </tr>
                    <tr>
                        <th class="w-25">Total:</th>
                        <td class="pr-2 w-100px">
                            <!-- <h5> <span>$</span> {{Total | number : '1.2-2'}}</h5> -->
                        </td>
                    </tr>
                    <tr>
                        <th class="w-25">Total:</th>
                        <td class="pr-2 w-100px">
                            <!-- <h5> <span>$</span> {{Total | number : '1.2-2'}}</h5> -->
                        </td>
                    </tr>
                </table>
                <div class="d-flex">
                    <button type="button" class="btn btn-outline-danger w-100 m-1" >
                        Cancel
                        <fa-icon icon="times"></fa-icon>
                    </button>
                    <button (click) = "openCalculator(calculator)" type="button" class="btn btn-outline-primary w-100 m-1">
                        Purchase
                        <fa-icon icon="shopping-bag"></fa-icon>
                    </button>
                    <button (click) = "openUsre(contentvoucher)" type="button" class="btn btn-outline-primary w-100 m-1">
                        Purchase
                        <fa-icon icon="shopping-bag"></fa-icon>
                    </button>
                </div>
                <div class="d-flex">
                    <button type="button" class="btn btn-outline-primary w-100 m-1">
                        Purchase
                        <fa-icon icon="shopping-bag"></fa-icon>
                    </button>
                    <button type="button" class="btn btn-outline-primary w-100 m-1">
                        Purchase
                        <fa-icon icon="shopping-bag"></fa-icon>
                    </button>
                    <button type="button" class="btn btn-outline-primary w-100 m-1">
                        Purchase
                        <fa-icon icon="shopping-bag"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="calculator">
    <ng-template #calculator let-calculator modalDialogClass="calculator">
        <app-calculator></app-calculator>
</ng-template>
<div class="calculator">
    <ng-template #entrNumber let-entrNumber modalDialogClass="calculator">
        <app-entr-number (Resulte)="Resulte($event)"></app-entr-number>
</ng-template>
</div>
<ng-template #contentvoucher  let-d="dismiss" modalDialogClass="customModal">
    <div class="modal-header">
        <h4 class="modal-title m-auto" id="modal-basic-title">Sales Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <h6> <span> Order No. :</span> </h6>
            </div>
            <div class="col-lg-6 d-flex flex-row-reverse">
                <h6> <span> Date : </span> </h6>
            </div>
            <div class="col-lg-6">
                <h6> <span>Customer : </span> </h6>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>SubTotal</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let data of voucherSales let i = index;">
                    <td>{{data.item_lines_order.itemName}}</td>
                    <td>{{data.unitPrice | number : '1.2-2'}}</td>
                    <td>{{data.quantity}}</td>
                    <td>{{data.subTotal | number : '1.2-2'}}</td>
                </tr> -->
            </tbody>
        </table>
        <table class="table-footer">
            <tr>
                <th>Total : </th>
                <!-- <td>${{invoiceTotle | number : '1.2-2'}}</td> -->
            </tr>
            <tr>
                <th>Employee : </th>
                <!-- <td>Omer Ali</td> -->
            </tr>
        </table>
        <!-- <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Print</button>
        </div> -->
    </div>
    <div class="modal-footer d-flex justify-content-center">
        <h6 > @User</h6>
    </div>
</ng-template>
