.content .card 
{
    width: 17rem;
    height: 20vh;
    padding: 1rem;
    margin: 0.1rem;
    box-shadow: 1px 5px 24px 0 rgb(68 102 242 / 5%);
}
.card-footer 
{
    background-color: rgb(255 255 255) !important;
}
.btn-Qty{
    border: 1px solid #f2f3f8;
    background: #f2f3f8;
    height: 1.5rem;
    line-height: 1;
    font-size: 0.6rem;
    
}
.input-Qty {
        height: 1.5rem;
        border: none !important;
        background: #f2f3f8;
        margin-left: -1px;
        width: 3rem;
        outline: none;
        border-radius: 0.25rem
}
.box-card {
    cursor: pointer !important;
    background-color: #e8e5e5;
}
.box-card:hover 
{
    cursor: pointer !important;
    background: #dddddd3b !important;
}
.content 
{
    position: fixed;
    width: 100%;
    padding: 0rem 1rem !important;
}
.box-content 
{
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    ul{
        height: 10rem;
    }
}
.box-content-item 
{
    line-height: 23px;
    margin-bottom: 0px;
    padding: 0 !important;
    /* height: 80vh !important; */
    overflow-x: scroll;
    text-align: justify;
}
td 
{
    padding: 0 0.3rem;
    // width: 15%;
}
th 
{
    font-size: 1em;
   
}
th,
td 
{
    vertical-align: top !important;
    border-top: 1px solid #dee2e6 !important;
}
.btn-group .form-control 
{
    border: 1px solid #7e858b61;
    border-radius: 0 !important;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link 
{
    color: #093360;
    background-color: #fff;
    border-color: none !important;
    border-bottom: #093360 1px solid;
}
// li.nav-item 
// {
//     width: 10%;
//     text-align: center;
// }
.form-control:disabled, 
.form-control[readonly] 
{
    background-color: #ffffff !important;
}
.form-control 
{
    border: 1px solid #ffffff !important;
}
.table-footer 
{
    th
    {
        width: 1% !important;
        padding: 0!important;
        border-bottom: 1px solid #fff !important;
    }
    td
    {
        border-bottom: 1px solid #fff ;
        padding: 0!important;
    }
}
.badge-qty {
    top: -5px;
  left: 135px;
  position: absolute;
  display: block;
  z-index: 10;
  padding: 0px 0px;
  font-size: 12px;
  background-color: #093360;
  color: #fff;
  border-radius: 4px;
}
.btn-category{
     border: 1px solid #dee2e6;
     border-radius: 5% !important;
     margin: 3px;
     outline: none;
}
.container-catigry{
    height: 10rem;
    overflow: scroll;
    background-color: #f2f3f8;
    border-bottom: 1px solid #bfbfbf;
}
.container-item{
    height: 30rem;
    overflow: scroll;
    width: 100%;
    display: flex;
}
.SelectedRow{
    td{
        background-color: #ebebeb;
        color: #000;
        border-top: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
    } 
}
  

::ng-deep .calculator{
    .modal-content{
        position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0;
    background-color: unset;
    border: unset;
    border-radius: unset;
    }
     
  }
